// Rebranded color tokens

// Neutral shades
$color-neutral-10: #ffffff;
$color-neutral-20: #f6f7fb;
$color-neutral-30: #dce1e5;
$color-neutral-40: #d3d9e0;
$color-neutral-50: #b8c1cc;
$color-neutral-60: #9ea9b5;
$color-neutral-70: #7a838c;
$color-neutral-80: #4c5966;
$color-neutral-90: #2f3e4e;
$color-neutral-100: #0a0a0a;
$color-neutral-30-light-border: #e6ebef;
$color-neutral-40-border: #d3d9e0;
$color-neutral-80-text-input-default: #4c5966;
$color-neutral-90-body-text: #2f3e4e;
$color-neutral-100-title: #0a0a0a;

// Tertiary shades
$color-tertiary-ecru: #efeee8;
$color-tertiary-lime: #e0ff6e;
$color-tertiary-mustard: #a5a824;
$color-tertiary-dark-green: #264402;
$color-tertiary-light-purple: #ecd7ff;
$color-tertiary-purple: #b69dfc;
$color-tertiary-turquoise: #416467;
$color-tertiary-dark-burgundy: #2a0316;
$color-tertiary-grey-blue: #e0eafe;

// Danger shades
$color-danger-main: #e62600;
$color-danger-surface: #fff4f2;
$color-danger-border: #eeb4b0;
$color-danger-focus: #e6260033;
$color-danger-hover: #bd251c;
$color-danger-pressed: #841d15;

// Warning shades
$color-warning-main: #ff9800;
$color-warning-surface: #fff5eb;
$color-warning-border: #fae0ba;
$color-warning-hover: #de8705;
$color-warning-pressed: #aa6500;

// Success shades
$color-success-main: #07a740;
$color-success-surface: #f3fcf6;
$color-success-border: #bdecce;
$color-success-hover: #0a933b;
$color-success-pressed: #035420;

// Blue shades
$color-blue-100: #f1f7fe;
$color-blue-200: #e1f3ff;
$color-blue-300: #3092fa33;
$color-blue-400: #aad2ff;
$color-blue-500: #3092fa;
$color-blue-600: #0a75e6;
$color-blue-700: #1168c3;

// Green shades
$color-green-100: #f5ffeb;
$color-green-200: #d5f3cc;
$color-green-300: #b8e7ab;
$color-green-400: #30cd04;
$color-green-500: #2cc302;
$color-green-600: #259f02;
$color-green-700: #166101;