// Rebranded typography tokens

// Font families
$rebranded-font-family-dm-sans: "DM Sans";
$rebranded-font-family-lazzer: "Lazzer";

// Font sizes
$rebranded-font-size-scale-0: 10px;
$rebranded-font-size-scale-1: 12px;
$rebranded-font-size-scale-2: 14px;
$rebranded-font-size-scale-3: 16px;
$rebranded-font-size-scale-4: 18px;
$rebranded-font-size-scale-5: 22px;
$rebranded-font-size-scale-6: 26px;
$rebranded-font-size-scale-7: 28px;
$rebranded-font-size-scale-8: 38px;
$rebranded-font-size-scale-9: 48px;

// Line heights
$rebranded-line-height-scale-0: 140%;
$rebranded-line-height-scale-1: 130%;
$rebranded-line-height-scale-2: 150%;
$rebranded-line-height-scale-3: 110%;

// Fonts
$rebranded-fonts: (
  "font-family": "DM Sans",
  "font-weight": 400,
  "text-decoration": null
), (
  "font-family": "DM Sans",
  "font-weight": 500,
  "text-decoration": null
), (
  "font-family": "DM Sans",
  "font-weight": 700,
  "text-decoration": null
), (
  "font-family": "DM Sans",
  "font-weight": 500,
  "text-decoration": italic
), (
  "font-family": "DM Sans",
  "font-weight": 700,
  "text-decoration": italic
), (
  "font-family": "Lazzer",
  "font-weight": 400,
  "text-decoration": null
);

@mixin rebranded-fonts() {
  @each $rebranded-font in $rebranded-fonts {
    @font-face {
        font-family: "#{map-get($rebranded-font, "font-family")}";
        font-weight: #{map-get($rebranded-font, "font-weight")};
        $textDecoration: map-get($rebranded-font, "text-decoration");
        @if $textDecoration {
          text-decoration: $textDecoration;
        }
    }
  }
}

