// Rebranded shadow tokens
$shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 12%);
$shadow-2: 0 4px 8px 0 rgba(0, 0, 0, 10%);
$shadow-3: inset 1px 2px 2px 0 rgba(0, 0, 0, 12%);
$tab: 0 3px 0 0 rgb(48, 146, 250);
$shadow-4: 0 -2px 2px 0 rgba(0, 0, 0, 12%);
$shadow-5: 0 0 4px 0 rgba(0, 0, 0, 12%);